public/xml/WSCES02.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CambiarCesionario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nVital" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cesionario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarCesionarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="CambiarCesionarioXSD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datosCesion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarCesionarioXSDResponse">
        <s:complexType />
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CambiarCesionarioSoapIn">
    <wsdl:part name="parameters" element="tns:CambiarCesionario" />
  </wsdl:message>
  <wsdl:message name="CambiarCesionarioSoapOut">
    <wsdl:part name="parameters" element="tns:CambiarCesionarioResponse" />
  </wsdl:message>
  <wsdl:message name="CambiarCesionarioXSDSoapIn">
    <wsdl:part name="parameters" element="tns:CambiarCesionarioXSD" />
  </wsdl:message>
  <wsdl:message name="CambiarCesionarioXSDSoapOut">
    <wsdl:part name="parameters" element="tns:CambiarCesionarioXSDResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="CambiarCesionarioHttpGetIn">
    <wsdl:part name="nVital" type="s:string" />
    <wsdl:part name="cesionario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CambiarCesionarioHttpGetOut" />
  <wsdl:message name="CambiarCesionarioXSDHttpGetIn">
    <wsdl:part name="datosCesion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CambiarCesionarioXSDHttpGetOut" />
  <wsdl:message name="TestHttpGetIn" />
  <wsdl:message name="TestHttpGetOut" />
  <wsdl:message name="CambiarCesionarioHttpPostIn">
    <wsdl:part name="nVital" type="s:string" />
    <wsdl:part name="cesionario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CambiarCesionarioHttpPostOut" />
  <wsdl:message name="CambiarCesionarioXSDHttpPostIn">
    <wsdl:part name="datosCesion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CambiarCesionarioXSDHttpPostOut" />
  <wsdl:message name="TestHttpPostIn" />
  <wsdl:message name="TestHttpPostOut" />
  <wsdl:portType name="WSCES02Soap">
    <wsdl:operation name="CambiarCesionario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe los datos PARAMETROS necesarios para ejecutar el cambio de cesionario como se especifica en los CUS Ces.01 y Ces.02]</wsdl:documentation>
      <wsdl:input message="tns:CambiarCesionarioSoapIn" />
      <wsdl:output message="tns:CambiarCesionarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiarCesionarioXSD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe los datos PARAMETROS necesarios para ejecutar el cambio de cesionario como se especifica en los CUS Ces.01 y Ces.02]</wsdl:documentation>
      <wsdl:input message="tns:CambiarCesionarioXSDSoapIn" />
      <wsdl:output message="tns:CambiarCesionarioXSDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSCES02HttpGet">
    <wsdl:operation name="CambiarCesionario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe los datos PARAMETROS necesarios para ejecutar el cambio de cesionario como se especifica en los CUS Ces.01 y Ces.02]</wsdl:documentation>
      <wsdl:input message="tns:CambiarCesionarioHttpGetIn" />
      <wsdl:output message="tns:CambiarCesionarioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiarCesionarioXSD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe los datos PARAMETROS necesarios para ejecutar el cambio de cesionario como se especifica en los CUS Ces.01 y Ces.02]</wsdl:documentation>
      <wsdl:input message="tns:CambiarCesionarioXSDHttpGetIn" />
      <wsdl:output message="tns:CambiarCesionarioXSDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpGetIn" />
      <wsdl:output message="tns:TestHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSCES02HttpPost">
    <wsdl:operation name="CambiarCesionario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe los datos PARAMETROS necesarios para ejecutar el cambio de cesionario como se especifica en los CUS Ces.01 y Ces.02]</wsdl:documentation>
      <wsdl:input message="tns:CambiarCesionarioHttpPostIn" />
      <wsdl:output message="tns:CambiarCesionarioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiarCesionarioXSD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe los datos PARAMETROS necesarios para ejecutar el cambio de cesionario como se especifica en los CUS Ces.01 y Ces.02]</wsdl:documentation>
      <wsdl:input message="tns:CambiarCesionarioXSDHttpPostIn" />
      <wsdl:output message="tns:CambiarCesionarioXSDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpPostIn" />
      <wsdl:output message="tns:TestHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSCES02Soap" type="tns:WSCES02Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CambiarCesionario">
      <soap:operation soapAction="http://tempuri.org/CambiarCesionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarCesionarioXSD">
      <soap:operation soapAction="http://tempuri.org/CambiarCesionarioXSD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSCES02Soap12" type="tns:WSCES02Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CambiarCesionario">
      <soap12:operation soapAction="http://tempuri.org/CambiarCesionario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarCesionarioXSD">
      <soap12:operation soapAction="http://tempuri.org/CambiarCesionarioXSD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSCES02HttpGet" type="tns:WSCES02HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CambiarCesionario">
      <http:operation location="/CambiarCesionario" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CambiarCesionarioXSD">
      <http:operation location="/CambiarCesionarioXSD" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSCES02HttpPost" type="tns:WSCES02HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CambiarCesionario">
      <http:operation location="/CambiarCesionario" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CambiarCesionarioXSD">
      <http:operation location="/CambiarCesionarioXSD" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSCES02">
    <wsdl:port name="WSCES02Soap" binding="tns:WSCES02Soap">
      <soap:address location="http://172.17.0.160:8182/WSCES02.asmx" />
    </wsdl:port>
    <wsdl:port name="WSCES02Soap12" binding="tns:WSCES02Soap12">
      <soap12:address location="http://172.17.0.160:8182/WSCES02.asmx" />
    </wsdl:port>
    <wsdl:port name="WSCES02HttpGet" binding="tns:WSCES02HttpGet">
      <http:address location="http://172.17.0.160:8182/WSCES02.asmx" />
    </wsdl:port>
    <wsdl:port name="WSCES02HttpPost" binding="tns:WSCES02HttpPost">
      <http:address location="http://172.17.0.160:8182/WSCES02.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>