public/xml/WSDAAEIA.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReenviarSolicitudDAA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datosEnvio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReenviarSolicitudDAAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReenviarSolicitudDAAResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType />
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReenviarSolicitudDAASoapIn">
    <wsdl:part name="parameters" element="tns:ReenviarSolicitudDAA" />
  </wsdl:message>
  <wsdl:message name="ReenviarSolicitudDAASoapOut">
    <wsdl:part name="parameters" element="tns:ReenviarSolicitudDAAResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="ReenviarSolicitudDAAHttpGetIn">
    <wsdl:part name="datosEnvio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReenviarSolicitudDAAHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="TestHttpGetIn" />
  <wsdl:message name="TestHttpGetOut" />
  <wsdl:message name="ReenviarSolicitudDAAHttpPostIn">
    <wsdl:part name="datosEnvio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReenviarSolicitudDAAHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="TestHttpPostIn" />
  <wsdl:message name="TestHttpPostOut" />
  <wsdl:portType name="WSDAAEIASoap">
    <wsdl:operation name="ReenviarSolicitudDAA">
      <wsdl:input message="tns:ReenviarSolicitudDAASoapIn" />
      <wsdl:output message="tns:ReenviarSolicitudDAASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSDAAEIAHttpGet">
    <wsdl:operation name="ReenviarSolicitudDAA">
      <wsdl:input message="tns:ReenviarSolicitudDAAHttpGetIn" />
      <wsdl:output message="tns:ReenviarSolicitudDAAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpGetIn" />
      <wsdl:output message="tns:TestHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSDAAEIAHttpPost">
    <wsdl:operation name="ReenviarSolicitudDAA">
      <wsdl:input message="tns:ReenviarSolicitudDAAHttpPostIn" />
      <wsdl:output message="tns:ReenviarSolicitudDAAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpPostIn" />
      <wsdl:output message="tns:TestHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDAAEIASoap" type="tns:WSDAAEIASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReenviarSolicitudDAA">
      <soap:operation soapAction="http://tempuri.org/ReenviarSolicitudDAA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDAAEIASoap12" type="tns:WSDAAEIASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReenviarSolicitudDAA">
      <soap12:operation soapAction="http://tempuri.org/ReenviarSolicitudDAA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDAAEIAHttpGet" type="tns:WSDAAEIAHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ReenviarSolicitudDAA">
      <http:operation location="/ReenviarSolicitudDAA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDAAEIAHttpPost" type="tns:WSDAAEIAHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ReenviarSolicitudDAA">
      <http:operation location="/ReenviarSolicitudDAA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDAAEIA">
    <wsdl:port name="WSDAAEIASoap" binding="tns:WSDAAEIASoap">
      <soap:address location="http://172.17.0.160:8182/WSDAAEIA.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDAAEIASoap12" binding="tns:WSDAAEIASoap12">
      <soap12:address location="http://172.17.0.160:8182/WSDAAEIA.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDAAEIAHttpGet" binding="tns:WSDAAEIAHttpGet">
      <http:address location="http://172.17.0.160:8182/WSDAAEIA.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDAAEIAHttpPost" binding="tns:WSDAAEIAHttpPost">
      <http:address location="http://172.17.0.160:8182/WSDAAEIA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>