public/xml/WSNumeroVital.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RetornaNumeroVital">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaNumeroVitalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaNumeroVitalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetornaNumeroVitalSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaNumeroVital" />
  </wsdl:message>
  <wsdl:message name="RetornaNumeroVitalSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaNumeroVitalResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaNumeroVitalHttpGetIn">
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetornaNumeroVitalHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestHttpGetIn" />
  <wsdl:message name="TestHttpGetOut" />
  <wsdl:message name="RetornaNumeroVitalHttpPostIn">
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetornaNumeroVitalHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestHttpPostIn" />
  <wsdl:message name="TestHttpPostOut" />
  <wsdl:portType name="WSNumeroVitalSoap">
    <wsdl:operation name="RetornaNumeroVital">
      <wsdl:input message="tns:RetornaNumeroVitalSoapIn" />
      <wsdl:output message="tns:RetornaNumeroVitalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSNumeroVitalHttpGet">
    <wsdl:operation name="RetornaNumeroVital">
      <wsdl:input message="tns:RetornaNumeroVitalHttpGetIn" />
      <wsdl:output message="tns:RetornaNumeroVitalHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpGetIn" />
      <wsdl:output message="tns:TestHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSNumeroVitalHttpPost">
    <wsdl:operation name="RetornaNumeroVital">
      <wsdl:input message="tns:RetornaNumeroVitalHttpPostIn" />
      <wsdl:output message="tns:RetornaNumeroVitalHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpPostIn" />
      <wsdl:output message="tns:TestHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSNumeroVitalSoap" type="tns:WSNumeroVitalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornaNumeroVital">
      <soap:operation soapAction="http://tempuri.org/RetornaNumeroVital" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSNumeroVitalSoap12" type="tns:WSNumeroVitalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornaNumeroVital">
      <soap12:operation soapAction="http://tempuri.org/RetornaNumeroVital" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSNumeroVitalHttpGet" type="tns:WSNumeroVitalHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RetornaNumeroVital">
      <http:operation location="/RetornaNumeroVital" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSNumeroVitalHttpPost" type="tns:WSNumeroVitalHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RetornaNumeroVital">
      <http:operation location="/RetornaNumeroVital" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSNumeroVital">
    <wsdl:port name="WSNumeroVitalSoap" binding="tns:WSNumeroVitalSoap">
      <soap:address location="http://172.17.0.160:8182/WSNumeroVital.asmx" />
    </wsdl:port>
    <wsdl:port name="WSNumeroVitalSoap12" binding="tns:WSNumeroVitalSoap12">
      <soap12:address location="http://172.17.0.160:8182/WSNumeroVital.asmx" />
    </wsdl:port>
    <wsdl:port name="WSNumeroVitalHttpGet" binding="tns:WSNumeroVitalHttpGet">
      <http:address location="http://172.17.0.160:8182/WSNumeroVital.asmx" />
    </wsdl:port>
    <wsdl:port name="WSNumeroVitalHttpPost" binding="tns:WSNumeroVitalHttpPost">
      <http:address location="http://172.17.0.160:8182/WSNumeroVital.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>