public/xml/WSPQ01.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datosPublicacionXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecibirPublicacionDocumentos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datosPublicacionXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="listaDocumentos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecibirPublicacionDocumentosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RecibirPublicacionDocumentosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType />
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_SoapIn">
    <wsdl:part name="parameters" element="tns:_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_" />
  </wsdl:message>
  <wsdl:message name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_SoapOut">
    <wsdl:part name="parameters" element="tns:_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_Response" />
  </wsdl:message>
  <wsdl:message name="RecibirPublicacionDocumentosSoapIn">
    <wsdl:part name="parameters" element="tns:RecibirPublicacionDocumentos" />
  </wsdl:message>
  <wsdl:message name="RecibirPublicacionDocumentosSoapOut">
    <wsdl:part name="parameters" element="tns:RecibirPublicacionDocumentosResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_HttpGetIn">
    <wsdl:part name="datosPublicacionXML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_HttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="RecibirPublicacionDocumentosHttpGetIn">
    <wsdl:part name="datosPublicacionXML" type="s:string" />
    <wsdl:part name="listaDocumentos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RecibirPublicacionDocumentosHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="TestHttpGetIn" />
  <wsdl:message name="TestHttpGetOut" />
  <wsdl:message name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_HttpPostIn">
    <wsdl:part name="datosPublicacionXML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_HttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="RecibirPublicacionDocumentosHttpPostIn">
    <wsdl:part name="datosPublicacionXML" type="s:string" />
    <wsdl:part name="listaDocumentos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RecibirPublicacionDocumentosHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="TestHttpPostIn" />
  <wsdl:message name="TestHttpPostOut" />
  <wsdl:portType name="WSPQ01Soap">
    <wsdl:operation name="RecibirPublicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe los datos entregados por la Autoridad Ambiental para realizar una publicación]</wsdl:documentation>
      <wsdl:input name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_" message="tns:_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_SoapIn" />
      <wsdl:output name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_" message="tns:_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecibirPublicacionDocumentos">
      <wsdl:input message="tns:RecibirPublicacionDocumentosSoapIn" />
      <wsdl:output message="tns:RecibirPublicacionDocumentosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSPQ01HttpGet">
    <wsdl:operation name="RecibirPublicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe los datos entregados por la Autoridad Ambiental para realizar una publicación]</wsdl:documentation>
      <wsdl:input name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_" message="tns:_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_HttpGetIn" />
      <wsdl:output name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_" message="tns:_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RecibirPublicacionDocumentos">
      <wsdl:input message="tns:RecibirPublicacionDocumentosHttpGetIn" />
      <wsdl:output message="tns:RecibirPublicacionDocumentosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpGetIn" />
      <wsdl:output message="tns:TestHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSPQ01HttpPost">
    <wsdl:operation name="RecibirPublicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe los datos entregados por la Autoridad Ambiental para realizar una publicación]</wsdl:documentation>
      <wsdl:input name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_" message="tns:_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_HttpPostIn" />
      <wsdl:output name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_" message="tns:_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RecibirPublicacionDocumentos">
      <wsdl:input message="tns:RecibirPublicacionDocumentosHttpPostIn" />
      <wsdl:output message="tns:RecibirPublicacionDocumentosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpPostIn" />
      <wsdl:output message="tns:TestHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSPQ01Soap" type="tns:WSPQ01Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecibirPublicacion">
      <soap:operation soapAction="http://tempuri.org/[Recibir Publicación CU-CAP-01]" style="document" />
      <wsdl:input name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirPublicacionDocumentos">
      <soap:operation soapAction="http://tempuri.org/RecibirPublicacionDocumentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPQ01Soap12" type="tns:WSPQ01Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecibirPublicacion">
      <soap12:operation soapAction="http://tempuri.org/[Recibir Publicación CU-CAP-01]" style="document" />
      <wsdl:input name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirPublicacionDocumentos">
      <soap12:operation soapAction="http://tempuri.org/RecibirPublicacionDocumentos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPQ01HttpGet" type="tns:WSPQ01HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RecibirPublicacion">
      <http:operation location="/[Recibir Publicación CU-CAP-01]" />
      <wsdl:input name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirPublicacionDocumentos">
      <http:operation location="/RecibirPublicacionDocumentos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPQ01HttpPost" type="tns:WSPQ01HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RecibirPublicacion">
      <http:operation location="/[Recibir Publicación CU-CAP-01]" />
      <wsdl:input name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="_x005B_Recibir_x0020_Publicación_x0020_CU-CAP-01_x005D_">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirPublicacionDocumentos">
      <http:operation location="/RecibirPublicacionDocumentos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSPQ01">
    <wsdl:port name="WSPQ01Soap" binding="tns:WSPQ01Soap">
      <soap:address location="http://172.17.0.160:8182/WSPQ01.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPQ01Soap12" binding="tns:WSPQ01Soap12">
      <soap12:address location="http://172.17.0.160:8182/WSPQ01.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPQ01HttpGet" binding="tns:WSPQ01HttpGet">
      <http:address location="http://172.17.0.160:8182/WSPQ01.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPQ01HttpPost" binding="tns:WSPQ01HttpPost">
      <http:address location="http://172.17.0.160:8182/WSPQ01.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>