public/xml/WSPQ04.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CU-NG-07">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numReferencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CU-NG-07Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CU-NG-07Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CU-I-EXPI-10">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numReferencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoExpediente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CU-I-EXPI-10Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CU-I-EXPI-10Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CU-NG-08">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numReferencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CU-NG-08Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CU-NG-08Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CU-NG-07SoapIn">
    <wsdl:part name="parameters" element="tns:CU-NG-07" />
  </wsdl:message>
  <wsdl:message name="CU-NG-07SoapOut">
    <wsdl:part name="parameters" element="tns:CU-NG-07Response" />
  </wsdl:message>
  <wsdl:message name="CU-I-EXPI-10SoapIn">
    <wsdl:part name="parameters" element="tns:CU-I-EXPI-10" />
  </wsdl:message>
  <wsdl:message name="CU-I-EXPI-10SoapOut">
    <wsdl:part name="parameters" element="tns:CU-I-EXPI-10Response" />
  </wsdl:message>
  <wsdl:message name="CU-NG-08SoapIn">
    <wsdl:part name="parameters" element="tns:CU-NG-08" />
  </wsdl:message>
  <wsdl:message name="CU-NG-08SoapOut">
    <wsdl:part name="parameters" element="tns:CU-NG-08Response" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="CU-NG-07HttpGetIn">
    <wsdl:part name="numReferencia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CU-NG-07HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CU-I-EXPI-10HttpGetIn">
    <wsdl:part name="numReferencia" type="s:string" />
    <wsdl:part name="codigoExpediente" type="s:string" />
    <wsdl:part name="estado" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CU-I-EXPI-10HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CU-NG-08HttpGetIn">
    <wsdl:part name="numReferencia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CU-NG-08HttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="TestHttpGetIn" />
  <wsdl:message name="TestHttpGetOut" />
  <wsdl:message name="CU-NG-07HttpPostIn">
    <wsdl:part name="numReferencia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CU-NG-07HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CU-I-EXPI-10HttpPostIn">
    <wsdl:part name="numReferencia" type="s:string" />
    <wsdl:part name="codigoExpediente" type="s:string" />
    <wsdl:part name="estado" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CU-I-EXPI-10HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CU-NG-08HttpPostIn">
    <wsdl:part name="numReferencia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CU-NG-08HttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="TestHttpPostIn" />
  <wsdl:message name="TestHttpPostOut" />
  <wsdl:portType name="WSPQ04Soap">
    <wsdl:operation name="EnviarDatosPago">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Entrega los datos recibidos del pago realizado]</wsdl:documentation>
      <wsdl:input name="CU-NG-07" message="tns:CU-NG-07SoapIn" />
      <wsdl:output name="CU-NG-07" message="tns:CU-NG-07SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosPago">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Entrega los datos recibidos del pago realizado por pse]</wsdl:documentation>
      <wsdl:input name="CU-I-EXPI-10" message="tns:CU-I-EXPI-10SoapIn" />
      <wsdl:output name="CU-I-EXPI-10" message="tns:CU-I-EXPI-10SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MonitorearPago">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Acciones a ejecutar en caso que el solicitante no haya realizado el pago]</wsdl:documentation>
      <wsdl:input name="CU-NG-08" message="tns:CU-NG-08SoapIn" />
      <wsdl:output name="CU-NG-08" message="tns:CU-NG-08SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSPQ04HttpGet">
    <wsdl:operation name="EnviarDatosPago">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Entrega los datos recibidos del pago realizado]</wsdl:documentation>
      <wsdl:input name="CU-NG-07" message="tns:CU-NG-07HttpGetIn" />
      <wsdl:output name="CU-NG-07" message="tns:CU-NG-07HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosPago">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Entrega los datos recibidos del pago realizado por pse]</wsdl:documentation>
      <wsdl:input name="CU-I-EXPI-10" message="tns:CU-I-EXPI-10HttpGetIn" />
      <wsdl:output name="CU-I-EXPI-10" message="tns:CU-I-EXPI-10HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MonitorearPago">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Acciones a ejecutar en caso que el solicitante no haya realizado el pago]</wsdl:documentation>
      <wsdl:input name="CU-NG-08" message="tns:CU-NG-08HttpGetIn" />
      <wsdl:output name="CU-NG-08" message="tns:CU-NG-08HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpGetIn" />
      <wsdl:output message="tns:TestHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSPQ04HttpPost">
    <wsdl:operation name="EnviarDatosPago">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Entrega los datos recibidos del pago realizado]</wsdl:documentation>
      <wsdl:input name="CU-NG-07" message="tns:CU-NG-07HttpPostIn" />
      <wsdl:output name="CU-NG-07" message="tns:CU-NG-07HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosPago">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Entrega los datos recibidos del pago realizado por pse]</wsdl:documentation>
      <wsdl:input name="CU-I-EXPI-10" message="tns:CU-I-EXPI-10HttpPostIn" />
      <wsdl:output name="CU-I-EXPI-10" message="tns:CU-I-EXPI-10HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MonitorearPago">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Acciones a ejecutar en caso que el solicitante no haya realizado el pago]</wsdl:documentation>
      <wsdl:input name="CU-NG-08" message="tns:CU-NG-08HttpPostIn" />
      <wsdl:output name="CU-NG-08" message="tns:CU-NG-08HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpPostIn" />
      <wsdl:output message="tns:TestHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSPQ04Soap" type="tns:WSPQ04Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarDatosPago">
      <soap:operation soapAction="http://tempuri.org/CU-NG-07" style="document" />
      <wsdl:input name="CU-NG-07">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CU-NG-07">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosPago">
      <soap:operation soapAction="http://tempuri.org/CU-I-EXPI-10" style="document" />
      <wsdl:input name="CU-I-EXPI-10">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CU-I-EXPI-10">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MonitorearPago">
      <soap:operation soapAction="http://tempuri.org/CU-NG-08" style="document" />
      <wsdl:input name="CU-NG-08">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CU-NG-08">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPQ04Soap12" type="tns:WSPQ04Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarDatosPago">
      <soap12:operation soapAction="http://tempuri.org/CU-NG-07" style="document" />
      <wsdl:input name="CU-NG-07">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CU-NG-07">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosPago">
      <soap12:operation soapAction="http://tempuri.org/CU-I-EXPI-10" style="document" />
      <wsdl:input name="CU-I-EXPI-10">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CU-I-EXPI-10">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MonitorearPago">
      <soap12:operation soapAction="http://tempuri.org/CU-NG-08" style="document" />
      <wsdl:input name="CU-NG-08">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CU-NG-08">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPQ04HttpGet" type="tns:WSPQ04HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="EnviarDatosPago">
      <http:operation location="/CU-NG-07" />
      <wsdl:input name="CU-NG-07">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="CU-NG-07">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosPago">
      <http:operation location="/CU-I-EXPI-10" />
      <wsdl:input name="CU-I-EXPI-10">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="CU-I-EXPI-10">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MonitorearPago">
      <http:operation location="/CU-NG-08" />
      <wsdl:input name="CU-NG-08">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="CU-NG-08">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPQ04HttpPost" type="tns:WSPQ04HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="EnviarDatosPago">
      <http:operation location="/CU-NG-07" />
      <wsdl:input name="CU-NG-07">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="CU-NG-07">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosPago">
      <http:operation location="/CU-I-EXPI-10" />
      <wsdl:input name="CU-I-EXPI-10">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="CU-I-EXPI-10">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MonitorearPago">
      <http:operation location="/CU-NG-08" />
      <wsdl:input name="CU-NG-08">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="CU-NG-08">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSPQ04">
    <wsdl:port name="WSPQ04Soap" binding="tns:WSPQ04Soap">
      <soap:address location="http://172.17.0.160:8182/WSPQ04.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPQ04Soap12" binding="tns:WSPQ04Soap12">
      <soap12:address location="http://172.17.0.160:8182/WSPQ04.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPQ04HttpGet" binding="tns:WSPQ04HttpGet">
      <http:address location="http://172.17.0.160:8182/WSPQ04.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPQ04HttpPost" binding="tns:WSPQ04HttpPost">
      <http:address location="http://172.17.0.160:8182/WSPQ04.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>