public/xml/WSPQ09.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CU-USU-01">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="autoridadAmbientalID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="personaID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="enProceso" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CU-USU-01Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CU-USU-01Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CU-USU-02">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlObject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CU-USU-02Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CU-USU-02Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CU-USU-03">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="autoridadAmbientalID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="personaID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CU-USU-03Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CU-USU-03Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CU-USU-01SoapIn">
    <wsdl:part name="parameters" element="tns:CU-USU-01" />
  </wsdl:message>
  <wsdl:message name="CU-USU-01SoapOut">
    <wsdl:part name="parameters" element="tns:CU-USU-01Response" />
  </wsdl:message>
  <wsdl:message name="CU-USU-02SoapIn">
    <wsdl:part name="parameters" element="tns:CU-USU-02" />
  </wsdl:message>
  <wsdl:message name="CU-USU-02SoapOut">
    <wsdl:part name="parameters" element="tns:CU-USU-02Response" />
  </wsdl:message>
  <wsdl:message name="CU-USU-03SoapIn">
    <wsdl:part name="parameters" element="tns:CU-USU-03" />
  </wsdl:message>
  <wsdl:message name="CU-USU-03SoapOut">
    <wsdl:part name="parameters" element="tns:CU-USU-03Response" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="CU-USU-01HttpGetIn">
    <wsdl:part name="autoridadAmbientalID" type="s:string" />
    <wsdl:part name="personaID" type="s:string" />
    <wsdl:part name="enProceso" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CU-USU-01HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CU-USU-02HttpGetIn">
    <wsdl:part name="xmlObject" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CU-USU-02HttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CU-USU-03HttpGetIn">
    <wsdl:part name="autoridadAmbientalID" type="s:string" />
    <wsdl:part name="personaID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CU-USU-03HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestHttpGetIn" />
  <wsdl:message name="TestHttpGetOut" />
  <wsdl:message name="CU-USU-01HttpPostIn">
    <wsdl:part name="autoridadAmbientalID" type="s:string" />
    <wsdl:part name="personaID" type="s:string" />
    <wsdl:part name="enProceso" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CU-USU-01HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CU-USU-02HttpPostIn">
    <wsdl:part name="xmlObject" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CU-USU-02HttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CU-USU-03HttpPostIn">
    <wsdl:part name="autoridadAmbientalID" type="s:string" />
    <wsdl:part name="personaID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CU-USU-03HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestHttpPostIn" />
  <wsdl:message name="TestHttpPostOut" />
  <wsdl:portType name="WSPQ09Soap">
    <wsdl:operation name="ObtenerDatosSolicitud">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Devuelve los datos de los solicitante por Autoridad Ambiental</wsdl:documentation>
      <wsdl:input name="CU-USU-01" message="tns:CU-USU-01SoapIn" />
      <wsdl:output name="CU-USU-01" message="tns:CU-USU-01SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecibirDatosCredencial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe la aprobación o rechazo de los solicitante por Autoridad Ambiental</wsdl:documentation>
      <wsdl:input name="CU-USU-02" message="tns:CU-USU-02SoapIn" />
      <wsdl:output name="CU-USU-02" message="tns:CU-USU-02SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosPersona">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Devuelve los datos de los solicitantes por Autoridad Ambiental relacionados con el numero vital</wsdl:documentation>
      <wsdl:input name="CU-USU-03" message="tns:CU-USU-03SoapIn" />
      <wsdl:output name="CU-USU-03" message="tns:CU-USU-03SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSPQ09HttpGet">
    <wsdl:operation name="ObtenerDatosSolicitud">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Devuelve los datos de los solicitante por Autoridad Ambiental</wsdl:documentation>
      <wsdl:input name="CU-USU-01" message="tns:CU-USU-01HttpGetIn" />
      <wsdl:output name="CU-USU-01" message="tns:CU-USU-01HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RecibirDatosCredencial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe la aprobación o rechazo de los solicitante por Autoridad Ambiental</wsdl:documentation>
      <wsdl:input name="CU-USU-02" message="tns:CU-USU-02HttpGetIn" />
      <wsdl:output name="CU-USU-02" message="tns:CU-USU-02HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosPersona">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Devuelve los datos de los solicitantes por Autoridad Ambiental relacionados con el numero vital</wsdl:documentation>
      <wsdl:input name="CU-USU-03" message="tns:CU-USU-03HttpGetIn" />
      <wsdl:output name="CU-USU-03" message="tns:CU-USU-03HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpGetIn" />
      <wsdl:output message="tns:TestHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSPQ09HttpPost">
    <wsdl:operation name="ObtenerDatosSolicitud">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Devuelve los datos de los solicitante por Autoridad Ambiental</wsdl:documentation>
      <wsdl:input name="CU-USU-01" message="tns:CU-USU-01HttpPostIn" />
      <wsdl:output name="CU-USU-01" message="tns:CU-USU-01HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RecibirDatosCredencial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe la aprobación o rechazo de los solicitante por Autoridad Ambiental</wsdl:documentation>
      <wsdl:input name="CU-USU-02" message="tns:CU-USU-02HttpPostIn" />
      <wsdl:output name="CU-USU-02" message="tns:CU-USU-02HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosPersona">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Devuelve los datos de los solicitantes por Autoridad Ambiental relacionados con el numero vital</wsdl:documentation>
      <wsdl:input name="CU-USU-03" message="tns:CU-USU-03HttpPostIn" />
      <wsdl:output name="CU-USU-03" message="tns:CU-USU-03HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpPostIn" />
      <wsdl:output message="tns:TestHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSPQ09Soap" type="tns:WSPQ09Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatosSolicitud">
      <soap:operation soapAction="http://tempuri.org/CU-USU-01" style="document" />
      <wsdl:input name="CU-USU-01">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CU-USU-01">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirDatosCredencial">
      <soap:operation soapAction="http://tempuri.org/CU-USU-02" style="document" />
      <wsdl:input name="CU-USU-02">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CU-USU-02">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosPersona">
      <soap:operation soapAction="http://tempuri.org/CU-USU-03" style="document" />
      <wsdl:input name="CU-USU-03">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CU-USU-03">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPQ09Soap12" type="tns:WSPQ09Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatosSolicitud">
      <soap12:operation soapAction="http://tempuri.org/CU-USU-01" style="document" />
      <wsdl:input name="CU-USU-01">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CU-USU-01">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirDatosCredencial">
      <soap12:operation soapAction="http://tempuri.org/CU-USU-02" style="document" />
      <wsdl:input name="CU-USU-02">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CU-USU-02">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosPersona">
      <soap12:operation soapAction="http://tempuri.org/CU-USU-03" style="document" />
      <wsdl:input name="CU-USU-03">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CU-USU-03">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPQ09HttpGet" type="tns:WSPQ09HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerDatosSolicitud">
      <http:operation location="/CU-USU-01" />
      <wsdl:input name="CU-USU-01">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="CU-USU-01">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirDatosCredencial">
      <http:operation location="/CU-USU-02" />
      <wsdl:input name="CU-USU-02">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="CU-USU-02">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosPersona">
      <http:operation location="/CU-USU-03" />
      <wsdl:input name="CU-USU-03">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="CU-USU-03">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPQ09HttpPost" type="tns:WSPQ09HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerDatosSolicitud">
      <http:operation location="/CU-USU-01" />
      <wsdl:input name="CU-USU-01">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="CU-USU-01">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirDatosCredencial">
      <http:operation location="/CU-USU-02" />
      <wsdl:input name="CU-USU-02">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="CU-USU-02">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosPersona">
      <http:operation location="/CU-USU-03" />
      <wsdl:input name="CU-USU-03">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="CU-USU-03">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSPQ09">
    <wsdl:port name="WSPQ09Soap" binding="tns:WSPQ09Soap">
      <soap:address location="http://172.17.0.160:8182/WSPQ09.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPQ09Soap12" binding="tns:WSPQ09Soap12">
      <soap12:address location="http://172.17.0.160:8182/WSPQ09.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPQ09HttpGet" binding="tns:WSPQ09HttpGet">
      <http:address location="http://172.17.0.160:8182/WSPQ09.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPQ09HttpPost" binding="tns:WSPQ09HttpPost">
      <http:address location="http://172.17.0.160:8182/WSPQ09.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>